<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Them Cars</title>
    <link rel="stylesheet" th:href="@{/styled.css}" />
    <meta charset="utf-8" />
</head>
<body>

<h1>Cars</h1>

<form th:action="@{/}" th:object="${search}" method="get">
        <input  type="search" name="search" placeholder="Search for a car" />
        <button type="submit" value="Submit">Search</button>
        <p><span th:if="${error}" th:text="${error}"/></p>

</form>

<p><a th:href="@{/police}">Police cars only</a></p>
<p><a th:href="@{/diplomatT}">Diplomats only</a></p>

<table>
    <thead>
    <tr>
        <th>Plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tr th:each="car:${cars}">
        <td th:text="${car.plate}"></td>
        <td><a th:href="@{'/{brand}'(brand=${car.carBrand})}" th:text="${car.carBrand}"></a></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.year}"></td>
    </tr>
</table>




</body>
</html>
